* {
    margin: 0px;
    padding: 0px;
}

body {
    /* background: #fffff8; */
    height: 100%;
    background: #3f3638;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
    padding-bottom: 25px;
    display: grid;
    /* grid-auto-rows: minmax(150px, auto); */
    grid-template-columns: 50%;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder {}

.feel {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.entry {
    color: #413e2e;
    background: #f3eecf;
}

#entryHolder {}

#date {}

#temp {}

#content {}

.headline {
    margin: 0px auto;
    font-size: 34px;
}

.title {}


/*  Basic Styling To Override Default For Basic HTML Elements */

label {
    display: block;
    font-size: 27px;
}

input {
    display: block;
    height: 60px;
    /* width: 320px; */
    background: #f6fdff;
    color: #413e2e;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button {
    display: block;
    border-radius: 30px;
    margin: 0px auto;
    width: 150px;
    height: 50px;
    background: #d8bf2e;
    color: #413e2e;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}

h1 {
    font-size: 36px;
}

textarea {
    background: #f6fdff;
    color: #413e2e;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}


/* Reset style for HTML element on active to have no border*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* Style for Placeholder Text*/

::placeholder {
    /* Firefox, Chrome, Opera */
    color: #413e2e;
    font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}